<nav>
  <div class="logo">
    <a href="/">

      <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" height="100px" width="100px" />
    </a>
  </div>
  <ul>
    <li><a href="/">Button Racer</a></li>
    <li><a href="/pixel-art">Pixel Art</a></li>
    <li><a href="/filter">Filter Image</a></li>
    <li><a href="/rock-paper-scissors">Rock Paper Scissors</a></li>
    <li><a href="/flowers">Flowers</a></li>
    <li><a href="/thalacalculator">Thala Calculator</a></li>
  </ul>
</nav>