<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Can you afford it?</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/afford.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
  {% include "_navbar.html" %}
<body>
    <div class="container mt-5">
        <h1>Can You Afford It?</h1>
        <form id="sipForm">
          <div class="form-group">
            <label for="amount"><p>Amount Needed to Buy:</p></label>
            <input type="number" class="form-control" id="amount" placeholder="Enter amount">
          </div>
        </form>
      
        <div class="mt-3" id="result" style="display:none;">
          <h4>Results:</h4>
          <p>Future Value: <span id="futureValue"></span></p>
          <p>Amount Needed to Start SIP: <span id="sipAmount"></span></p>
        </div>
      </div>

    <script src="{{ url_for('static', filename='js/afford.js') }}"></script>
  </body>
</html>
