<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/fstyles.css') }}"
    />
  </head>
  {% include "_navbar.html" %}

  <body>
    <!-- partial:index.partial.html -->
    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
    <div class="container">
      <h1>Filter</h1>
      <canvas id="can1"></canvas>
      <h2>Load Image</h2>
      <p>
        <input
          type="file"
          multiple="false"
          accept="image/*"
          id="image"
          onchange="load()"
        />
      </p>
      <h2>Choose Filter</h2>
      <p>
        <input type="button" value="Grayscale" onclick="getImage('grayScale')" />
        <input type="button" value="Red" onclick="getImage('red')" />
        <input type="button" value="Blue" onclick="getImage('blue')" />
        <input type="button" value="Green" onclick="getImage('green')" />
        <input type="button" value="Blur" onclick="getImage('blur')" />
        <input type="button" value="Rainbow" onclick="getImage('rainbow')" />
        <input
          type="button"
          value="Edge Detection"
          onclick="getImage('edgeDetection')"
        />
        <input type="button" value="Frame" onclick="getImage('frame')" />
      </p>
      <p>
        <input
          type="button"
          value="Reset Image"
          id="reset"
          onclick="doClear()"
        />
        <input type="button" id="downloadBtn" value="Download" />
      </p>
    </div>

    <script src="{{ url_for('static', filename='js/fscripts.js') }}"></script>
  </body>
</html>
