<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/flowers.css') }}">
  <script src="flowers.js" type="text/javascript"></script>
  <title>Flowers</title>
</head>
<script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
<body>
  {% include "_navbar.html" %}
  <div class="flowers">
    <!-- Flower 1 -->
    <div class="flower1">
      <!-- middle part of flower 1 -->
      <div class="mid">
      </div>
      <!-- petals of flower 1 -->
      <div class="Petal1 p1">
      </div>
      <div class="Petal1 p2">
      </div>
      <div class="Petal1 p3">
      </div>
      <div class="Petal1 p4">
      </div>
      <div class="Petal2 p1">
      </div>
      <div class="Petal2 p2">
      </div>
      <div class="Petal2 p3">
      </div>
      <div class="Petal2 p4">
      </div>
      <div class="Petal3 p1">
      </div>
      <div class="Petal3 p2">
      </div>
      <div class="Petal3 p3">
      </div>
      <div class="Petal3 p4">
      </div>
      <!-- stem of flower 1 -->
      <div class="Stem1">
      </div>
      <!-- leaves of flower 1 -->
      <div class="leaf1"></div>
      <div class="leaf2"></div>
      <div class="leaf3"></div>
      <div class="leaf4"></div>
    </div>
    <!-- Flower 2 -->
    <div class="flower2">
      <!-- middle part of flower 2 -->
      <div class="mid">
      </div>
      <!-- petals of flower 2 -->
      <div class="Petal1 p1">
      </div>
      <div class="Petal1 p2">
      </div>
      <div class="Petal1 p3">
      </div>
      <div class="Petal1 p4">
      </div>
      <div class="Petal2 p1">
      </div>
      <div class="Petal2 p2">
      </div>
      <div class="Petal2 p3">
      </div>
      <div class="Petal2 p4">
      </div>
      <div class="Petal3 p1">
      </div>
      <div class="Petal3 p2">
      </div>
      <div class="Petal3 p3">
      </div>
      <div class="Petal3 p4">
      </div>
      <!-- stem of flower 2 -->
      <div class="Stem2">
      </div>
      <!-- leaves of flower 3 -->
      <div class="leaf5"></div>
      <div class="leaf6"></div>
    </div>
    <!-- Flower 3 -->
    <div class="flower3">
      <!-- middle part of flower 3 -->
      <div class="mid">
      </div>
      <!-- petals of flower 3 -->
      <div class="Petal1 p1">
      </div>
      <div class="Petal1 p2">
      </div>
      <div class="Petal1 p3">
      </div>
      <div class="Petal1 p4">
      </div>
      <div class="Petal2 p1">
      </div>
      <div class="Petal2 p2">
      </div>
      <div class="Petal2 p3">
      </div>
      <div class="Petal2 p4">
      </div>
      <div class="Petal3 p1">
      </div>
      <div class="Petal3 p2">
      </div>
      <div class="Petal3 p3">
      </div>
      <div class="Petal3 p4">
      </div>
      <!-- stem of flower 2 -->
      <div class="Stem3">
      </div>
      <!-- leaves of flower 3 -->
      <div class="leaf7"></div>
      <div class="leaf8"></div>
    </div>
    
  </div>
</body>

</html>

</html>