<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
  </head>
  <body>
    <div class="particles"></div>

    <main>
      <h1>
        Random Number:
        <span id="random-number"></span>
      </h1>

      <div class="controls">
        <!-- Button to trigger the generation of a random number -->
        <button id="generate-button" onclick="fetchRandomNumber()">Generate Random Number</button>

        <!-- Input field to change text and button color -->
        <div class="color-control">
          <label for="color-input">Choose a color:</label>
          <input type="color" id="color-input" placeholder="Enter a color" value="#2ecc71" />
          <button id="color-button" onclick="changeColor()">Apply Color</button>
        </div>
      </div>
    </main>
  
    <script>
      const randomNumberElement = document.getElementById("random-number");
      const generateButton = document.getElementById('generate-button');
      const colorButton = document.getElementById('color-button');

      function fetchRandomNumber() {
        fetch("{{ url_for('generate') }}")
          .then((response) => response.text())
          .then((data) => {
            randomNumberElement.innerText = data;
          })
          .catch((error) => console.error("Error:", error));
      }

      function changeColor() {
        const colorInput = document.getElementById('color-input').value;

        if (colorInput) {
          generateButton.style.backgroundColor = colorInput;
          colorButton.style.backgroundColor = colorInput;
        }
      }

      // Create and append particles to the document
      const particlesContainer = document.querySelector('.particles');
      for (let i = 0; i < 250; i++) {
        const particle = document.createElement('div');
        particle.classList.add('particle');
        particle.style.left = `${Math.random() * 100}vw`;
        particle.style.top = `${Math.random() * 100}vh`;
        particlesContainer.appendChild(particle);
      }

      fetchRandomNumber();
    </script>
  </body>
</html>
