<!-- script for this html is in js directory inside static -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Art</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var email = '{{ email }}'
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/pixel-art.css') }}"
    />
    <script
      defer
      src="{{ url_for('static', filename='js/pixel-art.js') }}"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "_navbar.html" %}
    <h2 class="title colortext">Pixel Art</h2>
    <main>
      <div class="colorwrapper colortext">
        <div class="color-picker">
          <label for="colorPicker">Select Color:</label>
          <input type="color" id="colorPicker" value="#000000" />
          <button class="colorpickerbutton" id="colorWheelBtn">
            Color Mode
          </button>
          <button class="colorpickerbutton" id="randomColorBtn">
            Rainbow Mode
          </button>
          <label for="gridSizeSlider">Grid Size:</label>
          <input
            type="range"
            id="gridSizeSlider"
            min="10"
            max="50"
            value="16"
          />
          <span id="gridSizeDisplay">16x16</span>
          <!-- This will display the current grid size -->
          <button class="colorpickerbutton" id="eraserBtn">Eraser Mode</button>
          <button class="colorpickerbutton" id="toggleGridBtn">
            Toggle Grid
          </button>
          <button class="colorpickerbutton" id="clearCanvasBtn">
            Clear Canvas
          </button>
          <button type="button" id="downloadBtn">Download</button>
          {% if session.user %}
            <button type="button" id="publishBtn">Publish!</button>
          {% else %}
            <a href="{{ url_for('register') }}"><button type="button" id="publishBtn">Register to publish!</button></a>
          {% endif %}
        </div>
        <div id="drawingBoard"></div>
      </div>
      <h1>Gallery</h1>
      {% if session.user %}
      <div class="container text-center">
        <div id="List" class="row gy-5">
          <div>

          </div>
        </div>
      </div>
      {% else %}
      <div class="text-center"></div>
        <h2>Register or Login to see what everyone's been drawing!</h2>
      </div>
      {% endif %}
    </main>
  </body>
</html>
