body {
  background: linear-gradient(#6e0d5e, #181818, #000);
  overflow: hidden;
  height: 100vh;
}

.flowers {
  position: relative;
  transform: scale(0.9);
}

/* flower1 */
.flower1 {
  --fl-speed: 0.8s;
  position: absolute;
  height: 200px;
  width: 200px;
  margin: 10% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: moving-flower-1 4s linear infinite;
}

.Stem1 {
  animation: grow 4s backwards;
  height: 70vmin;
  margin-top: 27rem;
  margin-left: 0;
  width: 1.3vmin;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 9%, #2a7a14, #8eff7c);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.leaf1 {
  --w: 7vmin;
  --h: calc(var(--w) + 2vmin);
  position: absolute;
  margin-top: 25rem;
  margin-left: -24%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-left 1.6s backwards;
}

.leaf2 {
  --w: 7vmin;
  --h: calc(var(--w) + 2vmin);
  transform: rotate(75deg);
  position: absolute;
  margin-top: 20rem;
  margin-left: 30%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-right 1.6s backwards;
}

.leaf3 {
  --w: 12vmin;
  --h: calc(var(--w) + 2vmin);
  position: absolute;
  margin-top: 45rem;
  margin-left: -45%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-left 1.6s backwards;
}

.leaf4 {
  --w: 12vmin;
  --h: calc(var(--w) + 2vmin);
  transform: rotate(75deg);
  position: absolute;
  margin-top: 40rem;
  margin-left: 40%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-right 1.6s backwards;
}

/* flower2 */
.flower2 {
  height: 200px;
  width: 200px;
  margin-top: -10%;
  margin-left: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: moving-flower-1 4s linear infinite;
}

.Stem2 {
  animation: grow 4s backwards;
  height: 70vmin;
  margin-top: 27rem;
  margin-left: 36%;
  width: 1.3vmin;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 9%, #2a7a14, #8eff7c);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  transform: rotate(-10deg);
}

.leaf5 {
  --w: 7vmin;
  --h: calc(var(--w) + 2vmin);
  position: absolute;
  margin-top: 25rem;
  margin-left: 10%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-left 1.6s backwards;
}

.leaf6 {
  --w: 7vmin;
  --h: calc(var(--w) + 2vmin);
  transform: rotate(60deg);
  position: absolute;
  margin-top: 16rem;
  margin-left: 44%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-right 1.6s backwards;
}

/* flower3 */
.flower3 {
  height: 200px;
  width: 200px;
  float: right;
  margin-top: -14%;
  margin-right: 31%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: moving-flower-1 4s linear infinite;
}

.Stem3 {
  animation: grow 4s backwards;
  height: 70vmin;
  margin-top: 27rem;
  margin-left: -25%;
  width: 1.3vmin;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 9%, #2a7a14, #8eff7c);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  transform: rotate(10deg);
}

.leaf7 {
  --w: 7vmin;
  --h: calc(var(--w) + 2vmin);
  position: absolute;
  transform: rotate(10deg);
  margin-top: 25rem;
  margin-left: -50%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-left 1.6s backwards;
}

.leaf8 {
  --w: 7vmin;
  --h: calc(var(--w) + 2vmin);
  transform: rotate(80deg);
  position: absolute;
  margin-top: 20rem;
  margin-left: 12%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #28f082);
  animation: blooming-leaf-right 1.6s backwards;
}

/* Middle part of each flower */
.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #000, #e45f4e, #000);
  z-index: 4;
  background-size: 5px 5px;
  filter: drop-shadow(0 0 8px #68003d);
  position: absolute;
}

/* Petals of each flower */
.Petal1 {
  position: absolute;
  left: 40px;
  z-index: 3;
  width: 120px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(circle, #fa0557, #ff7676);
  filter: drop-shadow(0 0 5px #e00077);
}

/* Subpetals of each flower's petal 1 */
.Petal1.p1 {
  transform: rotate(22.5deg);
}

.Petal1.p2 {
  transform: rotate(67.5deg);
}

.Petal1.p3 {
  transform: rotate(110.5deg);
}

.Petal1.p4 {
  transform: rotate(157.5deg);
}

.Petal2 {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 200px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle, #fa0557, #ff7676);
  filter: drop-shadow(0 0 5px #e0008e);
}

/* Subpetals of each flower's petal 2 */
.Petal2.p1 {
  transform: rotate(0deg);
}

.Petal2.p2 {
  transform: rotate(90deg);
}

.Petal2.p3 {
  transform: rotate(45deg);
}

.Petal2.p4 {
  transform: rotate(135deg);
}

.Petal3 {
  position: absolute;
  left: 0px;
  z-index: 1;

  width: 200px;
  height: 40px;
  border-radius: 50%;

  background: radial-gradient(circle, #fa0557, #ff7676);

  filter: drop-shadow(0 0 2px #ff97d7);
}

/* Subpetals of each flower's petal 3 */
.Petal3.p1 {
  transform: rotate(22.5deg);
}

.Petal3.p2 {
  transform: rotate(67.5deg);
}

.Petal3.p3 {
  transform: rotate(110.5deg);
}

.Petal3.p4 {
  transform: rotate(157.5deg);
}

@keyframes moving-flower-1 {

  0%,
  100% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);

  }
}

@keyframes blooming-flower {
  0% {
    transform: scale(0);
  }
}

@keyframes grow {
  0% {
    height: 0;
    border-radius: 1vmin;
  }
}

@keyframes blooming-leaf-right {
  0% {
    transform-origin: left;
    transform: rotate(70deg) rotateY(30deg) scale(0);
  }
}

@keyframes blooming-leaf-left {
  0% {
    transform-origin: right;
    transform: rotate(-70deg) rotateY(30deg) scale(0);
  }
}

@keyframes flower-front {

  0%,
  100% {
    transform: rotate(-28deg) rotateY(30deg) scale(1.04);
  }

  50% {
    transform: rotate(-35deg) rotateY(40deg) scale(1.04);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo,
.nav-text {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 80px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover {
  color: #3498db;
}

.nav-text {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-left: 20px;
}

body {
  background-color: #fff6cd;
}

.bee {
  position: absolute;
  top: 20vh;
  width: 75px;
  height: 80px;
  background: url(//cdn.ficsystems.com/_new/common/3.0/images/characters/earthday-bee.svg);
  animation: walk-cycle 0.1s infinite steps(6), move 10s infinite linear;
}

@-webkit-keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -450px 0;
  }
}

@keyframes move {
  0% {
    transform: translate(-10vw, 10vh);
  }

  10% {
    transform: translate(0vw, 15vh);
  }

  20% {
    transform: translate(10vw, 20vh);
  }

  30% {
    transform: translate(20vw, 15vh);
  }

  40% {
    transform: translate(30vw, 10vh);
  }

  50% {
    transform: translate(40vw, 5vh);
  }

  60% {
    transform: translate(50vw, 0vh);
  }

  70% {
    transform: translate(65vw, 5vh);
  }

  80% {
    transform: translate(80vw, 10vh);
  }

  90% {
    transform: translate(95vw, 15vh);
  }

  100% {
    transform: translate(110vw, 20vh);
  }
}