body {
  background-color: black; /* Light gray background */
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 0 20px;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo, .nav-text {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 80px; 
  width: 80px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; 
  transition: color 0.3s ease;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover {
  color: #3498db; 
}

.nav-text {
  font-size: 40px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white; 
  margin-left: 20px;  
}

h1,
h2 {
  color: #0575bf;
  margin: 20px;
}

canvas {
  border: 2px solid #fafafa;
  width: 100%;
  max-width: 750px;
  display: block;
  margin: 0 auto;
}

input {
  font-size: 12pt;
  background-color: #0db3b6;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
