@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #111;
  font-family: 'Arial', sans-serif;
  position: relative;
}

@keyframes rotateBlob {
  from {
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  50% {
      -moz-transform: scale(1, 1.619) rotate(180deg);
      -webkit-transform: scale(1, 1.619) rotate(180deg);
      transform: scale(1, 1.619) rotate(180deg);
  }
  to {
      -moz-transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

#blob {
  width: 30em;
  aspect-ratio: 1/1;
  background-color: #2ec1cc;
  position: absolute;
  border-radius: 50%;
  -moz-animation: rotateBlob 10s infinite;
  -webkit-animation: rotateBlob 10s infinite;
  animation: rotateBlob 10s infinite;
  z-index: -2;
}

#blur {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

#hero-text {
  font-family: 'Space Mono', monospace;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(9, 9, 9, 0.8);
  z-index: 0;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  opacity: 0.5;
}

.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fbf9f9;
  border-radius: 50%;
  animation: moveParticle 10s infinite linear;
  transform-origin: center;
}


#output {
  margin-top: 2rem;
  max-width: 45vw;
  text-align: center;
  padding-bottom: 1rem;
}

@keyframes moveParticle {
  0%,
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

main {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  max-width: 100%;
  padding: 0 25px;
}

h1,
button,
label {
  margin: 10px;
  padding: 8px;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

h1 {
  background-color: #3498db;
  align-self: stretch;
  text-align: center;
}

button {
  background-color: #08c5b2;
}

label {
  padding: 0;
  background-color: white;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.color-control {
  display: flex;
  align-items: center;
}
#game-button {
  position: absolute;
  transition: top 0.2s, left 0.2s;
  z-index: 4;
}

#pause-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  .color-control {
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
  }

  .color-control > * {
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  .controls {
    flex-direction: column;
  }
}

#color-button {
  background-color: #e74c3c;
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  width: 100%;
  text-align: center;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo, .nav-text {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 80px; 
  width: 80px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; 
  transition: color 0.3s ease;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover {
  color: #3498db; 
}

.nav-text {
  font-size: 40px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white; 
  margin-left: 20px;  
}
