body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  animation: moveParticle 10s infinite linear; 
  transform-origin: center;
}

@keyframes moveParticle {
  0%, 25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

main {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  max-width: 100%;
  padding: 0 25px;
}

h1, button, label {
  margin: 10px;
  padding: 8px;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

h1 {
  background-color: #3498db;
  align-self: stretch;
  text-align: center;
}

button {
  background-color: #2ecc71;
}

label {
  padding: 0;
  background-color: white;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.color-control {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .color-control {
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
  }

  .color-control > * {
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  .controls {
    flex-direction: column
  }
}

#color-button {
  background-color: #e74c3c;
}
